.error.svelte-jvhf2q{color:red;margin-bottom:10px}.form-group.svelte-jvhf2q{margin-bottom:2rem;width:50%}label.svelte-jvhf2q{display:block;margin-bottom:5px}.tag-wrapper.svelte-jvhf2q{cursor:pointer}
